.offers-list{
  width: 100%;
}

.error{
  width: 100%;
  display: block;
  padding: 10px 5px;
  margin-top: 10px;
  text-align: center;
  background: #fff;
  color: #ff5b4e;
  border: 1px solid #ff5b4e;
  border-radius: 5px;
}